name: CI - Flask API (Docker)

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build-and-test-docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout do código
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Build Docker image
        run: docker build -t flask-api .

      - name: Run container and execute tests
        run: |
          docker run --name flask-test -d -p 1313:1313 flask-api
          sleep 5
          docker exec flask-test python -m unittest discover -s . -p "test_*.py"
          docker stop flask-test
          docker rm flask-test

  deploy:
    runs-on: ubuntu-latest
    needs: build-and-test-docker
    steps:
      - name: Checkout do código
        uses: actions/checkout@v4

      - name: Install Vercel CLI
        run: npm install -g vercel

      - name: Deploy to Vercel
        env:
          VERCEL_TOKEN: ${{ secrets.VERCEL_TOKEN }}
          VERCEL_ORG_ID: ${{ secrets.VERCEL_ORG_ID }}
          VERCEL_PROJECT_ID: ${{ secrets.VERCEL_PROJECT_ID }}
        run: |
          vercel --token=$VERCEL_TOKEN --prod --confirm
